<div class="home__container">

    <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="DIGITAL"
    gameType="DIGTAL | PS4"
    gamePrice="R$ 39,90"></app-card>

    <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS5"
    gamePrice="159,90"></app-card>

    <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS4"
    gamePrice="59,90"></app-card>

    <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS4"
    gamePrice="49,90"></app-card>

    <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS4"
    gamePrice="49,90"></app-card>

    <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS4"
    gamePrice="39,90"></app-card>

    <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS5"
    gamePrice="159,90"></app-card>

    <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS5"
    gamePrice="159,90"></app-card>
</div>